* {
    background-color: none;
    /* border: dotted green 1px; */
    margin: 15px;
}

html {
    min-height: 100%;
    min-width: 100%;
    background: url("./assets/pattern.png") repeat;
    background-size: 100vh;
    background-attachment: scroll;
    background-color: #1f2231;
}

body {
    font-family: Lato, "Lucida Grande", Tahoma, Sans-Serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #cfcbb1;
    font-family: Georgia, Serif;
    font-size: 60px;
    /* -webkit-text-stroke: 3px black; */
    margin: 0;
}

h2 {
    color: #cfcbb1;
    font-family: Geneva, Verdana, sans-serif;
    font-size: 25px;
    /* -webkit-text-stroke: 3px black; */
    margin: 0 0 5px 0;
}

.flex {
    display: flex;
    flex-direction: column;
}

p {
    margin: 30px;
    color: #cfcbb1;
    max-width: 400px;
}

.myPicture {
    object-fit: cover;
    border-radius: 10px;
    max-height: 400px;
    width: auto;
    height: auto;
    filter: drop-shadow(20px 10px 4px #4444dd);
}

button {
    margin: 50px;
    display: inline-block;
    outline: 0;
    cursor: pointer;
    padding: 3px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    vertical-align: middle;
    border: 1px solid;
    border-radius: 6px;
    color: #24292e;
    background-color: #fafbfc;
    border-color: #1b1f2326;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    transition-property: color, background-color, border-color;
    :hover {
        background-color: #f3f4f6;
        border-color: #1b1f2326;
        transition-duration: 0.1s;
}
}

